header {
    background-color: rgb(4, 132, 155);
    margin: 0;
    padding: 0;
}

header h2 { 
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    white-space: pre;
    vertical-align: super;
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

/* About section */
* {
  box-sizing: border-box;
}

.dImg{
  float: left;
  width: 50%;

}

.dPar {
  float: left;
  width: 50%;
  padding: 10px;   
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.clearfix{
  clear:both
}

/* Work section */
/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

/* Create three columns that floats next to each other */
/* Padding b/t each row */
.column {
  padding: 8px;
  float: left;
  width: 33%;
}

/* Content */
h1 {
  font-size: 50px;
  word-break: break-all;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content {
  background-color: grey;
  padding: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer {
  background-color: rgb(4, 132, 155);
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
}

footer h2 { 
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  white-space: pre;
  color: white;
  vertical-align: bottom;
  margin: 0;
}

/* .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
} */